.addToBasket {
    background-color: #2f9d9d;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    padding: 10px 20px;
    margin-top: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 255px;
}

.addToBasket:hover {
    background-color: #249b8c;
}

.addToBasket:active {
    transform: scale(0.98);
}

.addToBasket:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(47, 157, 157, 0.5);
}