.productPage {
    display: flex;
    justify-content: space-around;
    gap: 100px;
    .productInfo {
        display: flex;
        flex-direction: column;
        gap: 50px;
        div {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
    }
    p {
        font-size: 28px;
    }
    h1 {
        margin-top: 20px;
        font-weight: 100;
        font-style: italic;
    }
    img {
        width: 350px;
        height: fit-content;
        padding: 20px;
    }
    span {
        font-size: 30px;
    }
}