.productWrapper {
    margin-top: 50px;
    display: flex;
    gap: 30px;
    align-items: start;
    h1 {
        font-weight: 100;
        font-style: italic;
    }
    img {
        height: fit-content;
    }
    .productInfo {
        display: flex;
        flex-direction: column;
        gap: 50px;
        div {
            display: flex;
            gap: 25px;
            align-items: center;
            font-size: 24px;
            button {
                padding: 20px 25px;
                border-radius: 50%;
                cursor: pointer;
                background-color: white;
            }
        }
        span {
            font-size: 24px;
        }
    }
    margin-bottom: 30px;
}

.totalPrice {
    font-size: 30px;
    padding-top: 40px;
    margin: 40px 0;
}

.removeProduct {
    margin-left: 30px;
    padding-top: 5px;
    background-color: white;
    border: none;
    font-size: 20px;
    cursor: pointer;
}