.productContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 300px;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  text-align: center;
}

.productContainer img {
  width: 200px;
  height: 300px;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.productContainer h1 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 10px 0;
}

.productContainer .price {
  font-size: 1.2rem;
  color: #2f9d9d;
  margin-bottom: 10px;
}

.productContainer p {
  font-size: 1rem;
  color: #555;
  line-height: 1.4;
  margin: 0;
  padding: 0;
}