header {
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: rgba(128, 128, 128, 0.33) 1px solid;
}

img {
    width: 150px;
    height: 150px;
}

.basketBlock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    a, svg {
        font-size: 30px;
        vertical-align: middle;
    }
    sup {
        vertical-align: middle;
        font-size: 20px;
    }
}

nav {
    font-size: 20px;
}

.disabledLink {
    pointer-events: none;
}